 <% listing_type = listing.property_type %>
    <div class="listing">
      <p class="title"><%= listing.title %></p>
      <p><%= listing_type[:subtype]%></p>
      <p><%= listing.description %></p>
      <p>Host: <%= listing.host %></p>
  
      <% if url_for(:only_path => true) == "/listings" %>
       <%= link_to "View more", listing_path(listing.id) %>
      <% end %>
      
      <% if signed_in? && (current_user.id == listing.user_id || current_user.superadmin?) %>
        <%= link_to "Edit this listing", edit_listing_path(listing.id) %>
      <% elsif signed_in? %>
        <%= link_to "Book this property!", book_path(listing.id) %>
      <% end %>
    </div>
