<h3>Welcome, <%= current_user.first_name %></h3>

<div>
  <p>First name: <%= current_user.first_name %></p>
  <p>Last name: <%= current_user.last_name %></p>
  <p>Email: <%= current_user.email %></p>
  <p>Date joined AirBnB: <%= current_user.created_at %></p>
</div>