<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700,800" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body class="has-navbar-fixed-top">
  
  <!--FACEBOOK SDK-->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&autoLogAppEvents=1&version=v2.12&appId=1040839342723303';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
  <!--FACEBOOK SDK-->
  
  <nav class="navbar is-fixed-top has-navbar-fixed-bottom" role="navigation" aria-label="main navigation">
    
    <div class="navbar-brand">
      <a class="navbar-item" href="/"><i class="fab fa-dribbble fa-2x airbnb-brand"></i></a>
      <div class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item" id="search-form">
          <div class="field has-addons">
            <%= form_tag("/search", :method => :get) do %>
              <div class="control has-icons-right">
                <%= text_field_tag 'search_form', nil, placeholder: 'Miami, FL', class: 'input' %>
                <span class="icon is-small is-right">
                  <i class="fas fa-search fa-lg"></i>
                </span>
              </div>
              <!--<div class="control">-->
                  <!--<a class="button is-info">Search</a>-->
              <!--    <%#= submit_tag "Search", class: "button is-danger" %>-->
              <!--</div>-->
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="navbar-end">
        
        <div class="navbar-item" id="profile">
          <% if signed_in? %>
            <%= link_to "View Profile", "/users/show" %>
          <% end %>
        </div>
        
        <div class="navbar-item" id="sign-out-button">
          <% if signed_in? -%>
            <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
          <% else -%>
            <%= link_to t(".sign_in"), sign_in_path %>
          <% end -%>
        </div>
        
      </div>
  </div>
  <% if url_for(:only_path => true) == "/listings" %>
    <%= render "/layouts/filtersbar" %>
  <% end %>
</nav>




  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>
  
  <%= yield %>
  <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
</body>
</html>
